.selectForm {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(211, 204, 204);
    transition: width 0.4s ease-in-out;
}

